:root{
    --clr-100: #e8e4d6;
    --clr-90: rgb(200, 198, 192);

    --clr-20: #53565a;
    --clr-10: #242527;
    --clr-0: #1b2332;

    --accent: #5959a9;
    --accent-dark: #5050a0;

    --ff-sans: 'Barlow', sans-serif;
    --ff-serif: 'Young Serif', serif;
}


main{
    max-width:90%;
    display:block;
    margin-inline:auto;
}

.details-wrapper{
    display:block;
    margin-block:1rem;
    box-shadow: -2px 0 0 var(--clr-90);

    & .exp{
        margin-inline:0.5rem;
    }
}

.exp{
    margin-block:0.5rem;
}

section{
    display:block;
}

h3{
    display:inline-block;
    margin-block:0.5rem;
    padding:0.5rem;
    background-color: var(--clr-90);
    border-radius: .25rem;
}
h4{
    margin-inline:0.5rem;
    margin-block:1rem;
}

p{
    font-size:1.25rem;
}

.links{
    margin-block:0.5rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap:0.5rem;
    font-size:1.5rem;

    
    & .link-icon{
        transform: rotate(-45deg);
    }

    & span{
        color: var(--clr-10);
        border-radius:50%;
        padding:.1rem;

        &:hover{
            background-color: var(--clr-90);
            
        }

    }

    & img{
        width:1.5rem;
        height:1.5rem;
        border-radius:50%;
        padding:.1rem;

        &:hover{
            background-color: var(--clr-90);
        }
    }
}