:root{
    --clr-100: #e8e4d6;
    --clr-90: rgb(200, 198, 192);

    --clr-20: #53565a;
    --clr-10: #242527;
    --clr-0: #1b2332;

    --accent: #5050a0;
    --accent-dark: #5050a0;

    --ff-sans: 'Barlow', sans-serif;
    --ff-serif: 'Young Serif', serif;
}

.work-container{
    margin-block:1rem;
    height:20rem;
    border-radius: .25rem;
    align-items:last baseline;

    display:grid;
    grid-template-rows: 20% 80%;
    
    & *{
        padding:1rem;
    }
}

.crosspoint{
    background-image: url("../images/crosspoint.png");
    background-size: cover;
}

.photowalk{
    background-image: url("../images/photowalk.png");
    background-size: cover;
}

.nature{
    background-image: url("../images/nature.png");
    background-size: cover;
}

.work{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:100%;
    gap:1rem;
}

@media only screen and (max-width:1525px){
    .work{
        display:grid;
        grid-auto-flow: row;
    }
}

@media only screen and (max-width:1300px){
    .work{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width:800px){
    .content-container{
        max-width:200% !important;
    }
}

@media only screen and (max-width:500px){
    .content-container{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .work{
        width:150%;
        margin:0;
        padding:0;
    }

    .work-container{
        width:100%;
        margin-inline:auto;
    }
}