@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20Khmer:700|Noto%20Sans%20Khmer:400');
@import url('https://fonts.googleapis.com/css?family=Noto%20Serif%20HK:700|Noto%20Serif%20HK:400');

/* resets */

em{
    font-style: italic;
}

*{
    margin:0;
    padding:0;
    font:inherit;
    box-sizing: border-box;
}

:root{
    --ff-primary: 'Noto Sans Khmer', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --ff-heading: 'Noto Serif HK', Serif;
}

/* light + darkmode via system preferences */

@media (prefers-color-scheme: light) {
    :root {
      --text-50: #f5f2ef;
      --text-100: #ebe5e0;
      --text-200: #d8cac0;
      --text-300: #c4b0a1;
      --text-400: #b09682;
      --text-500: #9d7c62;
      --text-600: #7d634f;
      --text-700: #5e4a3b;
      --text-800: #3f3127;
      --text-900: #1f1914;
      --text-950: #100c0a;
  
      --background-50: #f7f2ed;
      --background-100: #f0e6db;
      --background-200: #e0ccb8;
      --background-300: #d1b394;
      --background-400: #c29970;
      --background-500: #b3804d;
      --background-600: #8f663d;
      --background-700: #6b4d2e;
      --background-800: #47331f;
      --background-900: #241a0f;
      --background-950: #120d08;
  
      --primary-50: #f7f2ee;
      --primary-100: #efe5dc;
      --primary-200: #decbba;
      --primary-300: #ceb197;
      --primary-400: #be9774;
      --primary-500: #ad7c52;
      --primary-600: #8b6441;
      --primary-700: #684b31;
      --primary-800: #453221;
      --primary-900: #231910;
      --primary-950: #110c08;
  
      --secondary-50: #f8f2ed;
      --secondary-100: #f0e5db;
      --secondary-200: #e1cbb7;
      --secondary-300: #d3b192;
      --secondary-400: #c4986e;
      --secondary-500: #b57e4a;
      --secondary-600: #91653b;
      --secondary-700: #6d4b2c;
      --secondary-800: #48321e;
      --secondary-900: #24190f;
      --secondary-950: #120d07;
  
      --accent-50: #f8f2ec;
      --accent-100: #f2e5d9;
      --accent-200: #e4cbb4;
      --accent-300: #d7b18e;
      --accent-400: #ca9768;
      --accent-500: #bd7d42;
      --accent-600: #976435;
      --accent-700: #714b28;
      --accent-800: #4b321b;
      --accent-900: #26190d;
      --accent-950: #130d07;
    }
  }
  
@media (prefers-color-scheme: dark) {
    :root {
      --text-50: #100c0a;
      --text-100: #1f1914;
      --text-200: #3f3127;
      --text-300: #5e4a3b;
      --text-400: #7d634f;
      --text-500: #9d7c62;
      --text-600: #b09682;
      --text-700: #c4b0a1;
      --text-800: #d8cac0;
      --text-900: #ebe5e0;
      --text-950: #f5f2ef;
  
      --background-50: #120d08;
      --background-100: #241a0f;
      --background-200: #47331f;
      --background-300: #6b4d2e;
      --background-400: #8f663d;
      --background-500: #b3804d;
      --background-600: #c29970;
      --background-700: #d1b394;
      --background-800: #e0ccb8;
      --background-900: #f0e6db;
      --background-950: #f7f2ed;
  
      --primary-50: #110c08;
      --primary-100: #231910;
      --primary-200: #453221;
      --primary-300: #684b31;
      --primary-400: #8b6441;
      --primary-500: #ad7c52;
      --primary-600: #be9774;
      --primary-700: #ceb197;
      --primary-800: #decbba;
      --primary-900: #efe5dc;
      --primary-950: #f7f2ee;
  
      --secondary-50: #120d07;
      --secondary-100: #24190f;
      --secondary-200: #48321e;
      --secondary-300: #6d4b2c;
      --secondary-400: #91653b;
      --secondary-500: #b57e4a;
      --secondary-600: #c4986e;
      --secondary-700: #d3b192;
      --secondary-800: #e1cbb7;
      --secondary-900: #f0e5db;
      --secondary-950: #f8f2ed;
  
      --accent-50: #130d07;
      --accent-100: #26190d;
      --accent-200: #4b321b;
      --accent-300: #714b28;
      --accent-400: #976435;
      --accent-500: #bd7d42;
      --accent-600: #ca9768;
      --accent-700: #d7b18e;
      --accent-800: #e4cbb4;
      --accent-900: #f2e5d9;
      --accent-950: #f8f2ec;
  
    }

    .cta-pri{
        color: var(--text-100) !important;
    }
  }
  

html{
    font-family: var(--ff-primary);
    background-color: var(--background-50);
    color: var(--text-950)
}

nav{
    padding:1rem;
    border-bottom: 1px solid var(--text-100);

}

.nav-wrapper{
    max-width:95%;
    margin-inline:auto;
    font-size:0.9rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & a{
        transition: .15s linear;

        &:hover, &:focus-visible{
            color: var(--primary-500);
        }

        &:focus-visible{
            outline:1px solid var(--primary-500);
            border-radius:0.5rem;
        }
    }

    & .logo-container{
        display:flex;
        align-items: center;
        gap:1rem;


        & img{
            width:1.4rem;
            height:1.4rem;
            border-radius:50%;
            object-fit: cover;
        }
    }

    & .nav-links{
        list-style-type: none;
    }

    & a{
        text-decoration: none;
        color: var(--text-950);
        padding:0.25rem;
    }


}

footer{
    & .small-copy{
        margin-block:1rem 0;
    }
}

.footer-wrapper{
    & a{
        text-decoration: none;
        color: var(--text-950);
        line-height:1.75;
        font-size:0.8rem;
    }
}

/* utiliy classes */
.primary-heading{
    font-family: var(--ff-heading);
    font-size:2.526rem;
    font-weight:700;
    line-height: 1.2;
}

.secondary-heading{
    font-family: var(--ff-heading);
    font-size: calc( 2.526rem * .75);
    font-weight:700;
    line-height: 1.2;
    margin-block:2.5rem;
}

.secondary-heading--less-spacing{
    margin-block:1rem;
}

.small-heading{
    font-family: var(--ff-heading);
    font-size: 1.125rem;
    font-weight:700;
    line-height: 1.2;
}

.small-copy{
    display:block;
    line-height:1.75;
    font-size:0.8rem;

    margin-block:2rem;
}

.cta{
    text-decoration: none;

    display:block;
    text-align: center;

    padding:0.75rem 2.5rem;
    font-size:0.8rem;
    border-radius: 0.5rem;
    margin-block:1rem;

    transition: .15s linear;
}

.cta-pri{
    background-color: var(--primary-500);
    color: var(--text-950);

    &:hover{
        background-color: var(--primary-600);
    }
}

.cta-sec{
    background-color: var(--secondary-100);
    color: var(--text-950);


    &:hover{
        background-color: var(--secondary-200);
    }
}

.nav-active{
    color: var(--primary-500) !important;
}

noscript{
    display:none;
}

.grid--two-columns{
    display:grid;
    grid-auto-flow: column;
    gap:1rem;

    & .column{
        display:flex;
        flex-direction: column;
        background-color: var(--background-100);
        padding:1rem;
        border-radius:.5rem;
        text-wrap: pretty;

        transition: .15s linear;

        & .small-copy{
            margin-bottom:0;
        }

        &:hover{
            scale:1.05;
        }
    }

}

.grid--four-columns{
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1.5fr 1fr 1.5fr;
    gap:1rem;

    & .column{
        display:flex;
        flex-direction: column;
        background-color: var(--background-100);
        padding:1rem;
        border-radius:.5rem;
        text-wrap: pretty;

        transition: .15s linear;

        & .small-copy{
            margin-bottom:0;
        }

        &:hover{
            scale:1.05;
        }
    }

}

.grid--two-rows{
    display:grid;
    grid-auto-flow: row;
    gap:1rem;

    & .row{
        display:flex;
        flex-direction: column;
        background-color: var(--background-100);
        padding:1rem;
        border-radius:.5rem;
        text-wrap: pretty;

        transition: .15s linear;

        & .small-copy{
            margin-bottom:0;
        }

        &:hover{
            scale:1.05;
        }
    }

}

.no-overflow{
    overflow:hidden !important;
}

/* animations */

@keyframes fade{
    from{
        opacity:0%;
    }

    to{
        opacity:100%;
    }
}

