:root{
    --clr-100: #e8e4d6;
    --clr-90: rgb(200, 198, 192);

    --clr-20: #53565a;
    --clr-10: #242527;
    --clr-0: #1b2332;

    --accent: #5050a0;
    --accent-dark: #5050a0;

    --ff-sans: 'Barlow', sans-serif;
    --ff-serif: 'Young Serif', serif;
}

.work-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    margin-inline:auto;
    max-width:90%;
    margin-block:2rem;

    & h2{
        margin-block:1rem;
        font-size:2rem;
    }

    & h3{
        margin:0;
        padding:0;
        position: absolute;
        color: var(--clr-100);
        bottom:1rem;
        left:1rem;
        font-family: var(--ff-sans);
    }
}

.col{
    display:flex;
    flex-direction: column !important;
}

.right-col{
    width:80%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;
}

.project{
    object-fit: cover;
    position: relative;
    margin:0;
    padding:0;

    & img{
        aspect-ratio: 3 /2;
        object-fit: cover;
        margin:0;
        padding:0;
        max-width:100%;
        user-select: none;
    }
}